body{
	padding: 0px;
	margin: 0px;
	border: none;
}	

#main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	width: 120px;
}

#main #logo img{
	width: 50px;
}

#main p{
	font-size: 1.2em;
	text-align: center;
}

#main button{
	border: none;
	background-color: #3a4482;
	color: white;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	width: 110px;
	height: 30px;
	margin: 5px 0px;
	transition: all 150ms ease-in-out;
}

#main button:hover{
	background-color: #4e5898;
	box-shadow: 0px 0px 0px 3px rgba(58, 68, 130, 0.2);
}

#main footer img{
	width: 16px;
}